::ng-deep app-categories {
  width: 100%;
  padding: 6vh 4%;
  background: rgb(226,225,242);
  background: linear-gradient(59deg, rgba(226,225,242,1) 0%, rgba(205,205,221,1) 42%, rgba(144,124,162,1) 100%);
}

.content-categories {
  height: 100%;
  background-color: whitesmoke;
  border: 2px solid #dee2e6;
  border-radius: 5px;
}
